#!/bin/zsh

# Navigation shortcuts
alias sl='ls'

# Git aliases
alias ga='git add -A'
alias gb='git branch'
alias gc='git commit -m'
alias gco='git checkout'
alias gs='git status'
alias gf='git fetch'
alias gp='git pull'
alias gm='git merge'
alias gd='git diff'
alias gk='gitk --all &'
function gitignore() {
    curl https://raw.githubusercontent.com/github/gitignore/master/$1.gitignore > .gitignore
}

# Programs
function openbg() {
    "$@" &> /dev/null &|
    echo $!
}
alias train='/usr/bin/sl'
alias web='openbg firefox'
alias iweb='openbg firefox --private-window'
alias intellij='openbg idea'

# Games
alias steam='openbg steam'
alias retro='openbg retroarch'
alias neverhood='openbg scummvm neverhood-win'
alias myst='openbg scummvm myst-win'
alias riven='openbg scummvm riven'

# Python
alias pr='poetry run'
alias pyupdate='poetry update && pr pre-commit autoupdate'
alias pyvalidate='pr pytest && pr pre-commit run -a'
function pyproj() {
    # Init script variables
    proj_dir=$1
    proj_module=${proj_dir:gs/-/_}
    template_dir="/tmp/python_template"

    # Create and initialize a new poetry project
    poetry new $proj_dir

    # Clone the template dir, and copy over files
    git clone git@github.com:sirrus233/python-template.git $template_dir
    rm -rf $template_dir/.git
    for file in $(ls -A $template_dir); do
        cp $template_dir/$file $proj_dir
    done
    rm -rf $template_dir

    # Make some customized edits to the starting files
    sed -i -- "s/<PROJECT>/$proj_module/g" $proj_dir/setup.cfg
    sed -i '1i """Top-level module"""' $proj_dir/$proj_module/__init__.py

    pushd $proj_dir > /dev/null
    # Initialize git repo and add a gitignore file
    git init
    gitignore Python
    # Install initial dependencies
    poetry add --dev pytest-cov
    poetry add --dev pre-commit
    poetry add --dev pylint
    poetry install
    # Install latest pre-commit tool versions
    pr pre-commit autoupdate
    pr pre-commit install
    # Fix default poetry formatting
    sed -i -- "s/'/\"/g" $proj_module/* tests/*
    # Create initial commit
    ga && gc "Initial commit"
    popd > /dev/null
}

# Other
alias aliases='vim ~/.aliases && source ~/.aliases'
alias dotfile='git --git-dir=/home/bradley/.dotfiles --work-tree=/home/bradley'
alias explicit="comm -23 <(pacman -Qeq | sort) <({ pacman -Qqg base-devel xorg; } | sort | uniq)"
alias orphan="pacman -Qdt"
alias clean='cleaning_audit'
alias windows="sudo efibootmgr -n 0000 -t 0 && reboot"
function alldir() {
    for d in $(ls -d */); do 
        cd $d; echo $d; eval $1; cd ..; echo;
    done
}
