#!/bin/zsh

# Navigation shortcuts
alias sl='ls'

# Git aliases
alias ga='git add -A'
alias gb='git branch'
alias gc='git commit -m'
alias gco='git checkout'
alias gs='git status'
alias gf='git fetch'
alias gp='git pull'
alias gd='git diff'
alias gk='gitk --all &'

# Programs
function openbg() {
    "$@" &> /dev/null &|
}
alias train='/usr/bin/sl'
alias web='openbg firefox'
alias iweb='openbg firefox --private-window'
alias intellij='openbg idea'

# Games
alias steam='openbg steam'
alias retro='openbg retroarch'
alias neverhood='openbg scummvm neverhood-win'
alias myst='openbg scummvm myst-win'
alias riven='openbg scummvm riven'

# Other
alias aliases='vim ~/.aliases && source ~/.aliases'
alias dotfile='git --git-dir=/home/bradley/.dotfiles --work-tree=/home/bradley'
alias explicit="comm -23 <(pacman -Qeq | sort) <({ pacman -Qqg base-devel xorg; } | sort | uniq)"
alias orphan="pacman -Qdt"
alias clean='cleaning_audit'
alias windows="sudo efibootmgr -n 0000 -t 0 && reboot"

function alldir() {
    for d in $(ls -d */); do 
        cd $d; echo $d; eval $1; cd ..; echo;
    done
}

function gitignore() {
    curl https://raw.githubusercontent.com/github/gitignore/master/$1.gitignore > .gitignore
}
